.account-item {
  width: 100%;
  max-width: 280px;
  padding: 1.5rem;
  border: 1px solid #eeeeee;
  box-shadow: 0 6px 12px rgba(0,0,0, 0.1);
  border-radius: 3px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  //background: #bfe1f1;
  .header-account {

  }

  .info {

  }

}